<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=0, initial-scale=1,minimum-scale=1, maximum-scale=1, width=device-width, minimal-ui=1">
    <title> Race </title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="css/milligram/dist/milligram.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body class="leaderboard-page">
    <div class="container">
      <h1>High Scores</h1>
      <div class="row">
        <div class="column column-50 column-offset-25 leaderboard-list">
          <dl class="list-header">
            <dd>RANK</dd>
            <dd>SCORE</dd>
            <dd>NAME</dd>
          </dl>
          {% for member in members: %}
          <dl>
            <dd>{{ loop.index }}</dd>
            <dd>{{ member[0] }}</dd>
            <dd>{{ member[1] }}</dd>
          </dl>
          {% endfor %}
        </div><!-- column -->
      </div><!-- row -->
    </div><!-- container -->
  </body>
</html>
